

.main {
  max-width: 1200px;
  margin: 35px auto;
  padding: 2rem;
  border:2px solid;
  border-color: #c3def7;
  border-radius: 20px;
  
   font-family:Arial, Helvetica, sans-serif;
   background: #c3def7;
   background: linear-gradient(90deg, rgba(195, 222, 247, 1) 0%, rgba(216, 235, 221, 1) 29%, rgba(197, 240, 200, 1) 100%);
}

.header {
  text-align: center;
  border-bottom: 1px solid #0d1013;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.header h1 {
  margin-bottom: 0.5rem;
  color:#013142;
  text-shadow: 1px 1px 3px rgb(17, 88, 40);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.uploaderSection,
.resultsSection {
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 1.5rem;
}

.uploaderSection h2,
.resultsSection h2 {
  margin-top: 0;
}

.playerPlaceholder {
  margin-top: 1rem;
}

.playerPlaceholder audio {
  width: 100%;
}

.processButton {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #2c0dd8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.processButton:hover {
  background-color: #14057a;
}

.processButton:disabled {
  background-color: #eaeaea;
  color: #999;
  cursor: not-allowed;
}

.errorText {
  color: red;
  font-weight: bold;
}

.resultsPlaceholder {
  margin-top: 1rem;
}

.resultsPlaceholder pre {
  background-color: #eee;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
}